<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Shoe Order List - {{ title }} </h1>
    {% for order in orders %}
    <p> <b> {{ order.customer_name }} </b> : {{ order.model }} : {{ order.size }} : 
        {{ order.quantity }} : {{ order.order_date }} : {{ order.delivery_date }}</p>  
    {% endfor %}
    
</body>
</html>

