{% extends "base.html" %}
{% block content %}
    <div class= book-wrapper>
    {% for book in books_in_store %}
       <div class = books>
        <p> <b>  <a href= "/books/{{loop.index0}}"> {{ book.title }} </a> </b> </p>  

        <p> <b> Written by </b> : {{ book.author }} </p>
     
        <p> <b> Genre </b> : {{ book.genre }}  </p>

        <p><b>Book Available : </b>

                {% if book.checked_out %}
                <span>&#9989;</span>
    
            {%else%}
                <span>&#10060;</span>
    
            {% endif %}    
        </p>

        <form action="/books/delete/{{loop.index0}}" method = "post"> 
        <input type = "submit" value = "remove book" />
        </form>
    </div>
    {% endfor %}
    </div>
        
{% endblock %}


