<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} - Books </title>
</head>
<body>
    <h1> {{title}} Home Page </h1>

    {% for book in books_in_store %}
        <!-- <p> <a href="/orders/{{loop.index0}}"> </a> </p>  -->

        <p> <b>   <a href="/books/{{loop.index0}}"> {{ book.title }} </a> </b> </p>  

        <p> <b> Written by </b> {{ book.author }} </p>
     
        <p> <b> Genre </b> : {{ book.genre }}  </p>

    {% endfor %}

    <form action="/books" method = "post"> 
        <label for ="title">Title:</label>
        <input type = "text" name = "title" placeholder="Enter the title" />
    
        <label for = "author">Author:</label>
        <input type = "text" name = "author" placeholder = "Enter the author" />

        <label for = "genre">Genre:</label>
        <input type = "text" name = "genre" placeholder = "Enter the genre" />
    
        <input type = "submit" value = "Add task" />
    
    </form> 
    
</body>
</html>